[profile.default]
src = "src"
out = "out"
libs = ["lib"]
remappings = [
    "@openzeppelin/contracts=lib/openzeppelin-contracts/contracts",
    "@ethsign/sign-protocol-evm/=node_modules/@ethsign/sign-protocol-evm/",
]
